Library
Temp
lfs
/.svn
/.vs
/hooks
/client/StreamingAssets
/client/obj
.idea
.vscode
JetBrains.meta
JetBrains
/client/*.csproj
/client/client.sln
/client/.vs
/client/Assets/HomeLand/LuaScript/LuaScript.iws
*.pyc
*.code-workspace
client/Configs/i18n.xlsx
client/Assets/StreamingAssets/StandaloneWindows64/
client/Assets/StreamingAssets/StandaloneWindows64.meta
client/Export/
client/Assets/StreamingAssets/Android/
client/Assets/StreamingAssets/
/client/Assets/HomeLand/Localization/**/*.meta
client/Assets/Scripts/LuaProfilerClient/
client/Assets/Plugins/Editor.meta
client/ResCompiler/venv/
client/Assets/MemoryProfiler
client/Assets/MemoryProfiler.meta
client/Assembly-CSharp-Editor-firstpass.csproj.meta
client/Assembly-CSharp-Editor.csproj.meta
client/Assembly-CSharp-firstpass.csproj.meta
client/Assembly-CSharp.csproj.meta
client/Assets/GeneratedLocalRepo
client/Assets/GeneratedLocalRepo.meta
client/.vsconfig
client/Assets/test
client/Assets/test.meta
client/Assets/LuaProfiler/
client/Assets/LuaProfiler*.*
client/Assets/LuaDeepProfiler*.*
jenkins-script/external/notify/node_modules/
client/Assets/Repo/Scenes/**/*.meta
client/Assets/HomeLand/LuaScript/Configs/GuideTest.lua
client/Assets/HomeLand/LuaScript/Configs/GuideTest.lua.meta
client/Assets/HomeLand/LuaScript/Configs/JetBrainsDebugFile.lua
client/Assets/HomeLand/LuaScript/Configs/JetBrainsDebugFile.lua.meta
unity3d_editor.log
/client/Logs
/client/UserSettings
client/Assets/Package/LuaProfiler/
/client/TempAssets
**/*.json.meta
**/*.lua.meta
client/Assets/AJudy
client/Assets/AJudy.meta

